<a href="https://colab.research.google.com/github/VarshaNeelvani/InnomaticsInternship/blob/main/InnomaticsTask2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Internship Task 2 - Varsha VN**

## **1. Unique Words in a Sentence**

In [1]:
sentence = input("Enter sentence: ")
words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'powerful', 'and', 'easy', 'python', 'is'}

## **2. Highest Salary from Employee Data**

In [12]:
n = int(input("Enter number of employees: "))

employees = {}
for i in range(n):
    name = input("Enter employee name: ")
    salary = int(input("Enter salary: "))
    employees[name] = salary

highest_employee = max(employees, key=employees.get)
print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Enter number of employees: 3
Enter employee name: Ravi
Enter salary: 75000
Enter employee name: Anita
Enter salary: 68000
Enter employee name: Kiran
Enter salary: 72000
Highest Salary: Ravi - 75000

## **3. Find Maximum and Minimum Values**

In [15]:
numbers = list(map(int, input("Enter numbers: ").split()))

maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

Enter numbers: 45 22 89 10 66
List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

## **4. Count Products Above a Price Threshold**

In [16]:
prices = list(map(int, input("Enter product prices: ").split()))

count = 0
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Enter product prices: 450 1200 899 1500 300
Products above 1000: 2

## **5. Calculate Attendance Percentage**

In [19]:
attendance = input("Enter attendance: ").split()

present_count = attendance.count("P")
percentage = (present_count / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Enter attendance: P P A P P
Attendance Percentage: 80.0

## **6. Remove Duplicate Phone Numbers**

In [20]:
phone_numbers = list(map(int, input("Enter phone numbers: ").split()))

unique_numbers = set(phone_numbers)
print("Unique phone numbers:", unique_numbers)

Enter phone numbers: 9876543210 9123456789 9876543210
Unique phone numbers: {9876543210, 9123456789}

## **7. Count Character Frequency**

In [21]:
text = input("Enter a string: ")

frequency = {}
for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

Enter a string: python
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

## **8. Convert List to Tuple**

In [22]:
numbers = list(map(int, input("Enter numbers: ").split()))

t = tuple(numbers)
print("Tuple:", t)

Enter numbers: 10 20 30
Tuple: (10, 20, 30)

## **9. Check if a Key Exists in a Dictionary**

In [23]:
n = int(input("Enter number of employees: "))

employees = {}
for i in range(n):
    name = input("Enter employee name: ")
    salary = int(input("Enter salary: "))
    employees[name] = salary

key_to_check = input("Enter employee name to search: ")

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Enter number of employees: 3
Enter employee name: Ravi
Enter salary: 75000
Enter employee name: Ankita
Enter salary: 68000
Enter employee name: Neil
Enter salary: 59000
Enter employee name to search: Ravi
Employee exists

## **10. Calculate Average Marks**

In [24]:
marks = list(map(int, input("Enter marks: ").split()))

average = sum(marks) / len(marks)
print("Average Marks:", average)

Enter marks: 65 70 80 75
Average Marks: 72.5